body {
    text-align: center;
}

#mute {
  position:absolute;
  left:670px;
  bottom:5px;
  padding: 10px;
  text-align: center;

}
.basic {
  /*position:fixed;*/
  text-align: center;
  height : 20px;
  color: white;
  font-size: 180%;
  font-weight: bold;
  font-family: 'Pacifico', cursive;
  position: absolute;
}

.scores {
left: 250px;  /* This will move it 250px to the right */
bottom:5px;
padding: 35px;
position: absolute;
}

.live {
left: 970px;  /* This will move it 250px to the right */
bottom:5px;
padding: 35px;
position: absolute;
}

.heading {
  text-align: center;
  top:-10px;
  font-size: 200%;
  left: 500px;
  padding: 15px;
  color: #654634;
  -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
}

/*@media only screen and (max-width: 481px) {
    .heading {
      left: 440px;
}*/
